/* Reset CSS */

body {
    margin: 0px;
    padding: 0px;
    font-family: serif;
}

thead {
    background-color: #a3e4d7 ;
}

td, th {
    margin-left: .5em;
    padding-left: .5em;
    margin-right: .5em;
    padding-right: .5em;
}


tbody tr:nth-child(odd) {
  background-color: #fff1f1;
}

tbody tr:nth-child(even) {
  background-color: #c7baba;
}

#entete {
    text-align: center;
    position: fixed;
    top: 0;
    font-size: .8em;
    width:100%;
    height: 4em;
    background: hsla(80, 90%, 40%, 1);
}

#menu {
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin: -2.5em 0 0 0;
    z-index: 5;
    background: hsla(80, 90%, 40%, 0.7);
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: left;
    border: solid hsla(80, 90%, 40%, 0.5);
    border-right: none;
    padding: 0.5em 0.5em 0.5em 2.5em;
    box-shadow: 0 1px 3px black;
    border-radius: 3em 0.5em 0.5em 3em;
}

#menu li {
    padding: .2em;
}

#menu a {
    text-decoration: none;
    color: white;
}

#selection {
    position: fixed;
    top: 3em;
    width:100%;
    background: hsla(160, 22%, 95%);
    display: inline;
    padding: .5em;
}

#selection p {
    display: inline;
    margin: 0em 1em
}
#contenu p {
    margin-top: 6em;
}

#identifie  {
    margin: 4em;
}

#identifie p {
    text-align: center;
}

.rouge {
    color: red;
}

#contenu {
    margin-top: 6em;
}

#cree li {
    padding: .1em;
}

#cree button {
    font-weight: bold;
    font-size: large;
    font-family: serif;
    color: white;
    background: hsla(80, 90%, 40%, 0);
    border: none;
    cursor: pointer;
}
